<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.ZeeshanClasses.listeners.ExtentReportListeners"/>
    </listeners>
    <test name="Test" thread-count="5" parallel="classes">
        <classes>
            <class name="org.ZeeshanClasses.tests.FirstTest"></class>
            <class name="org.ZeeshanClasses.tests.SecondTest"></class>
            <class name="org.ZeeshanClasses.tests.ThirdTest"></class>
        </classes>
    </test>
</suite>